.aboutImage {
    color: white;
    float: left; 
    padding: 1rem 1rem;
    position: relative;
    margin-left: 100px;
    margin-right: 150px;
  }
  
  .image {
    border-radius: 25px;
  }

  .divText {
    grid-template-columns: repeat(2, 3fr);
    display: grid;
    padding: 1rem 1rem;
    text-align: center !important;
  }

.spanText {
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    font-size: 1.3em; 
}
   
.text {
    color: white;
    text-align: justify;
    line-height: 150%;
  }

  @media (max-width: 1000px) {
      .container {
        padding: 1rem 1rem;
        text-align: left;
        margin-left: 50px;
        position: relative;
        left: 0;
        top: 40px;
        z-index: -1;
      }
      .divText {
        display: flex;
        width: 100%;
        padding: 0rem 0rem;
      }
    }

  