html {
  box-sizing: border-box;
}

:root {
  --header-height: 3.5rem;
  --first-color: hsl(28, 88%, 62%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(0, 0%, 6%);
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
 }

body {
  background-color: rgb(20, 19, 19);
  scrollbar-color: rgb(207, 27, 27) rgb(20, 25, 27) !important;
  scrollbar-width: thin !important;
  position: absolute;
  top: 0;
  width: 256px;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  overflow-y: scroll;
}

footer {
  display: block;
  unicode-bidi: isolate;
  position: fixed;
  bottom: 0;
  background-color: rgba(32, 32, 32, 0.486);
  width: 100%;
}

h1 {
  color: white;
}

.carousel .carousel-status{
  visibility: hidden;
}

.carousel .control-next.control-arrow:before {
  border-left: 15px solid white !important;
  border-bottom: 50px ;
} 

.carousel.carousel-slider {

}

.carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover{
  background-color: transparent !important;
}

.carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
  background-color: transparent !important;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
  opacity: 1;
}

.carousel .control-next.control-arrow:before {
  content: '';
  border: solid #0135AD !important;
  border-width: 0 8px 8px 0 !important;
  display: inline-block !important;
  padding: 14px !important;
  transform: rotate(-45deg) !important;
}

.carousel .control-prev.control-arrow:before {
  content: '';
  border: solid #0135AD !important;
  border-width: 0 8px 8px 0 !important;
  display: inline-block !important;
  padding: 14px !important;
  transform: rotate(135deg)!important;
}

.mainTag {
  z-index: -1;
  position: fixed;
}


@media (max-width: 700px) {
  .mainTag {
    z-index: 0;
    position: sticky;
  }
}

