.aboutImage {
    color: white;
    float: left; 
    padding: 1rem 1rem;
    position: relative;
    margin-left: 70px;
  }
  
  .image {
    border-radius: 25px;
    width: 37% !important;
  }

  .divText {
    grid-template-columns: repeat(2, 3fr);
    text-align: center !important;
  }

.spanText {
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    font-size: 1.3em; 
}
   
.text {
    color: white;
    text-align: justify;
    line-height: 150%;
  }

  .grid_skill {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    display: grid;
  }
  .container {
    position: sticky;
    width: 92%;
    margin-left: 130px;
  }

  @media (max-width: 1000px) {
      .container {
        padding: 1rem 2rem;
        text-align: left;
        margin-left: 20px;
        position: relative;
        left: 0px;
        top: 40px;
        z-index: -1;
      }
      .divText {
        display: flex;
        width: 100%;
        padding: 0rem 0rem;
      }
    }

  